/* .section-form1{
    padding: 1.6rem;
  background-color: #212f3d;
  border-radius: 0.6rem;
  margin: 3.2rem auto;


  form {
    display: flex;
    gap: 1.2rem;
  }

   & input {
    width: 24rem;
    color: #212f3d;
    border: 0.1rem solid grey;
    outline: none;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    padding: 0.8rem 1.2rem;
  }
} */